body{
    background: #A9DFBF !important;
    color: white !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
}
#root
{background:black;
}
.nav-link{
    color:white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.5s;
 
 }
.nav-link:hover{
     color: black;
     background: white;

 }
 .container{
margin: auto;
max-width: 960px;
 }
 .navigation{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .nav-tic-tac:hover{
background: #925652;
 }
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #925652;
 }