body{
    background-color: #A9DFBF !important;
}
#root
{background: #A9DFBF;
}
.nav-link{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.5s;
 
 }
.nav-link:hover{
     color:white;
     background: black;

 }
 .container{
margin: auto;
max-width: 960px;
 }
 .navigation{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .nav-tic-tac:hover{
background: #925652;
 }
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: #925652;
 }